
.vscode/*
main
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# code coverage files

*.gcda
*.gcno
p02-2/.vscode/launch.json
p02-2/.vscode/tasks.json
p02-2/graph
p03/.vscode/launch.json
p03/.vscode/settings.json
p03/.vscode/tasks.json
p03/RPN
c07/iwtd
p03/calc
p03/CORPUS/samp1
p03/CORPUS/samp2
p03/CORPUS/samp3
p03/CORPUS/samp4
p03/CORPUS/samp5
